.mission-vision {
  display: flex;
  justify-content: center;
  background-color: #f7f7f7;
}

.mission-vision h2{
  font-size: 40px;
}


.mission-vision-content {
  display: flex;
  align-items: stretch;
  width: 100%;
}

.text-content {
  flex: 1;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.image-content {
  flex: 1;
}

.image-content img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 768px) {
  .mission-vision-content {
    display: block;
  }
}