.reseller-cta {
  background-color: var(--color-light);
}

.reseller-cta .custom-title {
  color: var(--color-dark);
}

.reseller-cta .custom-subtitle {
  color: var(--color-gray-light);
  max-width: var(--max-width-md);
  margin-left: auto;
  margin-right: auto;
}