.gallery {
  padding: 2rem 1rem;
  text-align: center;
  max-width: 900px;
  margin: auto;
}

.gallery h2 {
  margin-bottom: 1.5rem;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.gallery-item {
  cursor: pointer;
  aspect-ratio: 16/9;
  background-size: cover;
  background-position: center;
  border-radius: 8px;
  transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s;
}

.gallery-grid:hover .gallery-item {
  filter: grayscale(100%);
  background-color: #ccc;
  transition: filter 0.3s ease, background-color 0.3s ease;
}

.gallery-item:hover {
  filter: none !important;
  background-color: transparent;
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.ReactModal__Overlay {
  background-color: rgba(0, 0, 0, 0.8) !important;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.5s ease;
}

.ReactModal__Content {
  border: none !important;
  inset: auto !important;
  border-radius: 8px;
  transition: transform 0.5s ease, opacity 0.5s ease;
  transform: translateY(-20px);
  opacity: 0;
}

.ReactModal__Content--after-open {
  transform: translateY(0);
  opacity: 1;
}

.ReactModal__Content--before-close {
  transform: translateY(-20px);
  opacity: 0;
}

.ReactModal__Content img {
  border-radius: 8px;
  max-width: 100%;
  height: auto;
  cursor: pointer;
}