.faq {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 1rem;
  text-align: center;
  color: var(--color-gray);
}

.faq-list {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.faq-item {
  border-bottom: 1px solid #4a4a4a;
  width: 100%;
  padding: 2rem;
  cursor: pointer;
  margin:0;
  transition: box-shadow 0.3s ease;
}

.faq-item h3 {
  margin: 0;
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.faq-item p {
  margin-top: 1.5rem;
  max-height: 0;
  transition: max-height 0.3s ease, opacity 0.3s ease;
  overflow: hidden;
  opacity: 0;
}

.faq-item.active p {
  max-height: 100px;
  opacity: 1;
}


.icon {
  font-size: 1.2rem;
  transition: transform 0.3s ease;
}

.faq-item.active .icon {
  transform: rotate(180deg);
}

.answer-content {
  margin-top: 1.5rem;
  max-height: 0;
  transition: max-height 1s ease, opacity 1s ease;
  overflow: hidden;
  opacity: 0;
}

.faq-item.active .answer-content {
  max-height: 200px;
  opacity: 1;
}

@media (max-width: 768px) {
  .faq {
    padding: 2rem 0;
  }
  .faq-list {
    width: 100%;
  }
}