.faq {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 1rem;
  background-color: #1e1e1e;
  text-align: center;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
}

.faq h2 {
  margin-bottom: 1.5rem;
  color: #f0f0f0;
}

.faq-list {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 9px 9px 16px #141414, -9px -9px 16px #282828;
}

.faq-item {
  border-bottom: 1px solid #4a4a4a;
  width: 100%;
  background-color: #333;
  padding: 2rem;
  cursor: pointer;
  margin:0;
  transition: box-shadow 0.3s ease;
}

.faq-item h3 {
  margin: 0;
  font-size: 1.2rem;
  color: #f0f0f0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.faq-item p {
  margin-top: 1.5rem;
  color: #aaaaaa;
  max-height: 0;
  transition: max-height 0.3s ease, opacity 0.3s ease;
  overflow: hidden;
  opacity: 0;
}

.faq-item.active p {
  max-height: 100px;
  opacity: 1;
}

.faq-item.active,
.faq-item:hover {
  box-shadow: inset 5px 5px 12px #232323, inset -5px -5px 12px #4a4a4a;
}

.icon {
  font-size: 1.2rem;
  transition: transform 0.3s ease;
}

.faq-item.active .icon {
  transform: rotate(180deg);
}

.answer-content {
  margin-top: 1.5rem;
  color: #aaaaaa;
  max-height: 0;
  transition: max-height 1s ease, opacity 1s ease;
  overflow: hidden;
  opacity: 0;
}

.faq-item.active .answer-content {
  max-height: 200px;
  opacity: 1;
}

@media (max-width: 768px) {
  .faq {
    padding: 2rem 0;
  }
  .faq-list {
    width: 100%;
  }
}