.parallax {
  position: relative;
  background-image: url('./../../images/ace_spray2.jpg'); /* Reemplaza con la ruta de tu imagen */
  height: 200px; /* Altura del efecto parallax */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax-content {
  position: absolute; /* Cambia a absolute para superponer el contenido */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Centra el contenido */
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
  padding: 1rem;
  border-radius: 10px;
  color: white; /* Color del texto */
  text-align: center;
}

