.features {
  display: flex;
  max-width: 1200px;
  margin: auto;
  gap: 50px;
  padding: 5rem 1rem;
}

.card-features {
  text-align: center;
  flex: 1;
}

@media (max-width: 768px) {
  .features {
    flex-direction: column;
  }
}
