.features {
  padding: 2rem;
  display: flex;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
}

.card-features {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  width: 300px;
  padding: 20px;
  text-align: center;
  transition: transform 0.3s ease;
  margin-bottom: 20px;
}

.card-features:hover {
  transform: translateY(-10px);
  cursor: default;
}

.content h2 {
  font-size: 4rem;
  color: white;
}

.content h3 {
  font-size: 1.5rem;
  color: white;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .card-features {
    width: 100%;
    max-width: 400px;
  }
}
