.mainFeatures {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem 5rem 0 5rem;
  max-width: 1200px;
  margin: auto;
}

.mainFeatures-header {
  padding: 1rem;
  font-size: 4rem;
  display: flex;
  justify-content: center;
  width: 100%;
  letter-spacing: 0.05em;
}

.mainFeatures-columns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10rem;
  width: 100%;
}

.heading2 {
  color: var(--color-gray);
  font-family: Hype;
}

.mainFeatures-description {
  margin-top: 1rem;
  line-height: 1.2;
  padding: 2rem;
  color: var(--color-gray);
  font-family: Roboto-Regular;
  position: relative;
  --gradient: linear-gradient(to bottom, var(--color-gray), var(--color-red));
}

.mainFeatures-description:after{
    position: absolute;
    content: "";
    border-radius: 0.9375rem;
    width: 0.25rem;
    inset: 0.65rem auto 0.65rem 0.5rem;
    background: var(--gradient);
}

.mainFeatures-image img {
  width: 150px;
}

@media (max-width: 1024px) {
  .mainFeatures {
    padding: 3rem 2rem 1rem 2rem;
  }

  .mainFeatures-columns {
    padding: 1rem 1rem;
  }

  .mainFeatures-image img {
    width: 120px;
    margin-top: 1rem;
  }
  .heading1 {
    text-align: center;
  }
}

@media (max-width: 768px) {

  .mainFeatures-columns {
    flex-direction: column;
    align-items: center;
    padding: 1rem 1rem;
  }

  .mainFeatures-image img {
    width: 100px;
    margin-top: 1rem;
  }
}
