.navbar {
  position: relative;
  z-index: 9;
  width: 100%;
  height: 90px;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo img {
  width: 200px;
}

.logoPhrase img {
  width: 300px;
}

.hamburger {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  z-index: 11;
}

.hamburger .bar {
  width: 25px;
  height: 3px;
  background-color: var(--color-gray);
  margin: 4px 0;
  transition: all 0.3s ease;
}

.hamburger.open .bar:nth-child(1) {
  transform: rotate(45deg) translate(10px, 5px);
}

.hamburger.open .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.open .bar:nth-child(3) {
  transform: rotate(-45deg) translate(10px, -5px);
}

.nav-links {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100dvh;
  background-color: rgba(51, 51, 51, 1);
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transform: translateX(100%);
  transition: transform 0.3s ease, opacity 0.3s ease, visibility 0.3s;
  z-index: 9;
}

.nav-links.open {
  visibility: visible;
  opacity: 1;
  transform: translateX(0);
}

.nav-links.close {
  transform: translateX(100%);
}

.nav-links.open {
  visibility: visible;
  opacity: 1;
  transform: translateX(0);
}

.nav-links a {
  font-size: 1.5rem;
  text-decoration: none;
  padding: 1rem;
  color: var(--color-gray);
}

.menu-links__container a {
  position: relative;
  text-decoration: none;
  color: var(--color-gray);
  padding-bottom: 4px;
}

.menu-links__container a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--color-red);
  transition: width 0.3s ease;
}

.menu-links__container a:hover::after,
.menu-links__container a.active::after {
  width: 100%;
}

.menu-links {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu-links__container{
  display: flex;
  flex-direction: column;
  text-align: center;
}

.menu-links span {
  padding: 2rem;
}

.dropdown {
  position: relative;
}

.dropdown-toggle {
  cursor: pointer;
  background: none;
  border: none;
  display: flex;
  align-items: center;
  font-size: 1rem;
  color: var(--color-gray);
}

.dropdown-toggle img {
  width: 30px;
}

.dropdown-arrow {
  margin-left: 5px;
  font-size: 0.75rem;
  transition: transform 0.3s ease;
}

.dropdown-arrow.rotate {
  transform: rotate(180deg);
}

.dropdown-menu {
  display: flex;
  position: absolute;
  top: 100%;
  flex-direction: column;
  margin-top: 5px;
}

.dropdown-menu img {
  width: 30px;
}

.dropdown-menu button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.nav-links.open {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100dvh;
  padding: 2rem 0;
}

.nav-links.open .logo,
.nav-links.open .logoPhrase {
  display: flex;
  justify-content: center;
  width: 100%;
}


@media (max-width: 768px) {
  .logoPhrase {
    display: none;
  }
}