  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body {
    height: 100%;
    color: var(--color-gray);
  }
  
  #root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    --color-red: #e7185f;
    --color-gray: #878786;
    --color-white: #ffffff;
  }
  
  .page-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .custom-main-title {
    position: relative;
    font-size: 5vw;
    font-family: Hype;
    text-align: center;
    color: transparent;
    background-image: linear-gradient(to right, var(--color-gray), var(--color-red));
    -webkit-background-clip: text;
    background-clip: text;
  }

  .custom-main-title::after{
      content: "";
      position: absolute;
      bottom: -10px;
      left: 0;
      width: 100%;
      height: 4px;
      background: linear-gradient(to right, var(--color-gray), var(--color-red));
      border-radius: 0.9375rem;
  }

  .custom-title {
    font-size: 4vw;
    font-family: Antonio-Light;
    text-align: center;
    font-weight: bold;
    color: #000;
  }


  @media (max-width: 768px) {
    .custom-main-title {
      font-size: 2rem;
    }
    .custom-title {
      font-size: 1.5rem;
    }
  }


  .custom-parallax-title {
    font-size: 5vw;
    font-family: Hype;
    text-align: center;
  }

  .custom-subtitle {
    font-size: 5vw;
    font-family: Antonio-light;
    text-align: center;
    color: #333;
  }

  .custom-description {
    padding: 2rem;
    color: var(--color-gray);
    font-family: Roboto-Regular;
    font-size: 1.2rem;
  }